@{
    ViewBag.Title = "Home";
}
<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Conceive Believe <span>Achieve</span></h1>
                    <p class="intro-text">your dreams, my desire... <br>Our Destination.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container content-section text-center" id="gap1"></div>
<div data-vide-bg="mp4: /images/ocean.mp4, webm: /images/ocean.webm, ogv: /images/ocean.ogv, poster: /images/ocean.jpg"
     data-vide-options="posterType: jpg, loop: true, muted: true, position: 0% 0%">
    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Your Dream</h2>
                <p>Whats in your mind? Ideas, thoughts, dreams...</p>

                <p> a connection to the unconscious mind.  frightening, exciting, magical, melancholic, adventurous.</p>
                <h3>Inspiration.</h3>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>My Desire</h2>
                <p>Feel free to email me with questions, comments, or just say hello!</p>
                <p>
                    <a href="mailto:feedback@startbootstrap.com">Moore.prestige.worldwide@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
        <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our Destination</h2>
                    <p>ex ex ex ex ex ex ex ex ex ex ex ex</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">View Destinations</a>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container content-section text-center" id="gap2"></div>
    <!-- Map Section -->
    <div id="map"></div>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Your Website 2014</p>
            <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></p>
        </div>
    </footer>
